# Dependências
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Next.js
.next/
out/
dist/

# Produção
build

# Misc
.DS_Store
*.pem

# Debug
*.log
.pnpm-debug.log*

# Variáveis de ambiente
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Testes
coverage/
.nyc_output/

# Backend específico
backend/
backend/uploads/
backend/auth_*/
backend/dist/
backend/node_modules/
